@import '../../styles/settings.scss';

.searchForm {
    display: flex;
    justify-content: center;
}

@import '../../styles/settings.scss';

.searchForm {
    display: flex;
    justify-content: center;
}
